@font-face {
 font-family: "bluuNext";
 src: url("bluunext-bold-webfont.woff2");
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata:700&display=swap');

h1{
  font-family: bluuNext;
  font-size: 60px;
  margin-bottom: 0px;
  margin-top: 28px;
  text-align: center;
}

p, footer{
  font-family: bluuNext;
  font-size: 25px;
  text-align: center;
}

#date{
    margin-top: 0px;
}

img{
  border: 5px solid black;
  max-height: 65vh;
  max-width: 90vw;
  width:auto;
  height: auto;
  margin: auto;
}

body{
  padding: 0px;
  margin: 0px;
  background: #AED1E4;
  height: 100vh;
}

#titleHover{
  color: white;
  font-family: 'Inconsolata' ;
  display: none;
  position: absolute;
}

footer{
  margin-bottom: 28px;
}

#container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.background{
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
}

.modal-image{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position:fixed;
  max-height: 100%;
  width: auto;
  z-index: 99;
}
